{% extends "base.html" %} {% block content %}
<a href="{% url 'agents:agent-detail' agent.pk %}">Go back</a>
<section class="text-gray-600 body-font overflow-hidden">
  <div class="container px-5 py-10 mx-auto">
    <div class="lg:w-4/5 mx-auto flex flex-wrap justify-center">
      <img alt="ecommerce" class="md:w-1/4 md:h-1/4 h-30 m-10 object-cover object-center rounded" src="https://dummyimage.com/200x200" />
      <div class="lg:w-1/2 lg:pl-10 lg:py-6 mt-6 lg:mt-0">
        <h2 class="text-sm title-font text-gray-500 tracking-widest">UPDATE AGENT</h2>
        <h1 class="text-gray-900 text-3xl title-font font-medium mb-1">{{agent.user.username}}</h1>
        <div class="flex mb-4">
          <a class="text-gray-500 px-2">
            <svg fill="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-5 h-5" viewBox="0 0 24 24">
              <path d="M18 2h-3a5 5 0 00-5 5v3H7v4h3v8h4v-8h3l1-4h-4V7a1 1 0 011-1h3z"></path>
            </svg>
          </a>
          <a class="text-gray-500 px-2">
            <svg fill="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-5 h-5" viewBox="0 0 24 24">
              <path
                d="M23 3a10.9 10.9 0 01-3.14 1.53 4.48 4.48 0 00-7.86 3v1A10.66 10.66 0 013 4s-4 9 5 13a11.64 11.64 0 01-7 2c9 5 20 0 20-11.5a4.5 4.5 0 00-.08-.83A7.72 7.72 0 0023 3z"
              ></path>
            </svg>
          </a>
        </div>
        <form method="post">
          {% csrf_token %} {{form.as_p}}
          <div class="flex py-3">
            <button
              class="inline-flex text-white bg-blue-500 border-0 py-2 px-6 mx-2 focus:outline-none hover:bg-blue-600 rounded text-lg"
              type="submit"
            >
              Save
            </button>
            <a
              class="inline-flex text-white bg-red-500 border-0 py-2 px-6 mx-2 focus:outline-none hover:bg-red-600 rounded text-lg"
              href="{% url 'agents:delete-agent' agent.pk %}"
            >
              Delete
            </a>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
{% endblock content %}
